#minefield {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-color: black;
    border-style: solid;
    height: 400px;
    width: 400px;
}

.space {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

.floor {
    left: 5%;
    top: 5%;
    background-color: gray;
}

.bomb {
    left: 15%;
    top: 15%;
    background-color: black;
    color: red;
}

.nothing {
    left: 25%;
    top: 25%;
    background-color: lightgrey;
}

.number {
    /* left: 35%;
    top: 35%; */
    background-color: lightgrey;
    color: blue;
}
