body {
    background-color: #787878;
}

#minefield {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* border-color: black;
    border-style: solid; */
    height: 400px;
    width: 400px;
}

.space {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

.bomb {
    background-color: black;
    color: red;
}

.flag {
    background-color: gray;
    color: blue;
}

.blank {
    background-color: lightgrey;
}

.number {
    background-color: lightgrey;
    color: blue;
}

.floor {
    background-color: gray;
}
